USE [DateTimeDatabase]
GO
/****** Object:  Table [dbo].[Birthdays]    Script Date: 10/9/2021 4:26:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birthdays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
 CONSTRAINT [PK_Birthdays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Birthdays] ON 

INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (1, N'Eugene', N'Hancock', CAST(N'1963-01-15' AS Date))
INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (2, N'Darcy', N'Montgomery', CAST(N'1989-09-27' AS Date))
INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (3, N'Randal', N'Garza', CAST(N'2015-07-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Birthdays] OFF
